{% extends "base.html" %}

{% block content %}
<style>
    
		body {
			font-family: "Roboto", sans-serif;
			font-size: 18px;
			background-color: #fdfdfd; 
		}
	
		.head_text{
		color: white;
	  }
		.card{
		box-shadow: 0 16px 48px #E3E7EB;
	}
	</style>
	
		<header class="masthead" >
				<div class="overlay"></div>
				<div class="container">
				  <div class="row">
					<div class=" col-md-8 col-md-10 mx-auto">
					  <div class="site-heading">
						<br>
						<h2 class=" site-heading my-4 mt-3 text-white"> Welcome to Place Me </h2>
						<br>
						<h4 class="text-light">This is a dedicated ambience to know about your Campus Placements<br> and <br>how to opt for Higher Studies.
						</h4>
						
					</div>
						</div>
					  </div>
					</div>
				</div>
				  </header>
			
{% endblock content %}